@page "/"
@using SupermarketZlagoda.Components.Pages.Forms

<PageTitle>Home</PageTitle>

<h1> Welcome </h1>

@code {
 /* TODO:{ 
 - Implement a dialog window for user authentication.
 - It should have two functionalities: 
  1. User Login
  2. User Registration
 - The Login part should accept username/password and validate with the server.
 - The Registration part should ask for relevant details and register the new user.*/
}