@using SupermarketZlagoda.Data
@inject IJSRuntime JSRuntime
<label>Select categories</label>
<select name="field1" id="field1" multiple @ref="_elementReference" multiselect-hide-x="true" @onchange="HandleChange">
    @if(Options is { Count: > 0 })
    {
        @foreach (var option in Options)
        {
            <option value="@option.Value" selected="@(option.Selected ? "selected" : null)">@option.Text</option>
        }
    }
</select>

@code{
    [Parameter]
    public List<SelectOption>? Options { get; set; }
    [Parameter]
    public EventCallback<List<SelectOption>> OnSelectChanged { get; set; }
    private ElementReference _elementReference;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("MultiselectDropdown", _elementReference);
        }
    }
    private async Task HandleChange()
    {
        var selectedValues = await JSRuntime.InvokeAsync<Guid[]>("getSelectedValues", _elementReference);
        foreach (var option in Options)
        {
            option.Selected = selectedValues.Contains(option.Value);
        }

        await OnSelectChanged.InvokeAsync(Options);
    }
}