@using SupermarketZlagoda.Data
@inject UserState UserState
<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="380" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink >
            <FluentNavGroup Title="Менеджер" Tooltip="Навігаційне меню менеджера" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                <FluentNavGroup Title="Управління даними">
                    <FluentNavLink >Працівник</FluentNavLink>
                    <FluentNavLink >Постійні Клієнти</FluentNavLink>
                    <FluentNavLink >Категорії товарів</FluentNavLink>
                    <FluentNavLink Href="/products">Товари</FluentNavLink>
                    <FluentNavLink Href="/store-products">Товари у магазині</FluentNavLink>
                    <FluentNavLink >Чеки</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Профіль">
                    <FluentNavLink Tooltip="Інформація особу касира">Особиста Інформація</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>
            <FluentNavGroup Title="Касир" Tooltip="Навігаційне меню касира" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                <FluentNavGroup Title="Управління даними">
                    <FluentNavLink >Товари</FluentNavLink>
                    <FluentNavLink >Товари у магазині</FluentNavLink>
                    <FluentNavLink >Постійні Клієнти</FluentNavLink>
                    <FluentNavLink >Чеки</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Профіль">
                    <FluentNavLink Tooltip="Інформація особу касира">Особиста Інформація</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
    protected override void OnInitialized()
    {
        UserState.IsManager= true;
        base.OnInitialized();
    }

    private void OnClick()
    {
        throw new NotImplementedException();
    }

}