
<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="380" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink >
            <FluentNavGroup Title="Менеджер" Tooltip="Навігаційне меню менеджера" Icon="@(new Icons.Regular.Size24.EarthLeaf())" >
                <FluentNavGroup Title="Управління даними">
                    <FluentNavLink Tooltip="Управління даними про працівників">Працівник</FluentNavLink>
                    <FluentNavLink Tooltip="Управління даними про постійних клієнтів">Постійні Клієнти</FluentNavLink>
                    <FluentNavLink Tooltip="Управління даними про категорії товарів">Категорії товарів</FluentNavLink>
                    <FluentNavLink Tooltip="Управління даними про товари">Товари</FluentNavLink>
                    <FluentNavLink Tooltip="Управління даними про товари у магазині">Товари у магазині</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Звіти">
                    <FluentNavLink Tooltip="Перегляд звітів про працівників">Звіт Про Працівників</FluentNavLink>
                    <FluentNavLink Tooltip="Перегляд звітів про постійних клієнтів">Звіт Про Постійних Клієнтів</FluentNavLink>
                    <FluentNavLink Tooltip="Перегляд звітів про категорії товарів">Звіт Про Категорії Товарів</FluentNavLink>
                    <FluentNavLink Tooltip="Перегляд звітів про товари">Звіт Про Товари</FluentNavLink>
                    <FluentNavLink Tooltip="Перегляд звітів про товари у магазині">Звіт Про Товари у Магазині</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Пошук інформації">
                    <FluentNavLink Tooltip="Пошук інформації про працівників">Пошук Про Працівників</FluentNavLink>
                    <FluentNavLink Tooltip="Пошук інформації про постійних клієнтів">Пошук Про Постійних Клієнтів</FluentNavLink>
                    <FluentNavLink Tooltip="Пошук інформації про категорії товарів">Пошук Про Категорії Товарів</FluentNavLink>
                    <FluentNavLink Tooltip="Пошук інформації про товари">Пошук Про Товари</FluentNavLink>
                    <FluentNavLink Tooltip="Пошук інформації про товари у магазині">Пошук Про Товари у Магазині</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>
            <FluentNavGroup Title="Касир" Tooltip="Навігаційне меню касира" Icon="@(new Icons.Regular.Size24.EarthLeaf())" >
                <FluentNavGroup Title="Управління даними">
                    <FluentNavLink Tooltip="Перегляд даних про товари">Товари</FluentNavLink>
                    <FluentNavLink Tooltip="Перегляд даних про товари у магазині">Товари у магазині</FluentNavLink>
                    <FluentNavLink Tooltip="Управління даними про постійних клієнтів">Постійні Клієнти</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Пошук інформації">
                    <FluentNavLink Tooltip="Пошук товарів за назвою">Пошук товарів</FluentNavLink>
                    <FluentNavLink Tooltip="Пошук постійних клієнтів за прізвищем">Пошук клієнтів</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Продаж">
                    <FluentNavLink Tooltip="Додавання нового чеку">Новий чек</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Чеки">
                    <FluentNavLink Tooltip="Перегляд чеків за певний період часу">Список чеків за період</FluentNavLink>
                    <FluentNavLink Tooltip="Перегляд інформації за конкретним чеком">Інформація за номером чеку</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Профіль">
                    <FluentNavLink Tooltip="Інформація про особу касира">Особиста Інформація</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;

    private void OnClick()
    {
        throw new NotImplementedException();
    }

}

